@font-face {
    font-family: 'helveticaneueregular';
    src: url('../fonts/HelveticaNeue/helveticaneue-webfont.eot');
    src: url('../fonts/HelveticaNeue/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeue/helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"),
    url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), 
    url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot"); 
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), 
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), 
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/Proxima-Nova-Bold/proxima_nova_bold-webfont.eot');
    src: url('../fonts/Proxima-Nova-Bold/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Bold/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Bold/proxima_nova_bold-webfont.woff') format('woff'),
         url('../fonts/Proxima-Nova-Bold/proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaregular';
    src: url('proxima_nova_regular-webfont.woff2') format('woff2'),
         url('proxima_nova_regular-webfont.woff') format('woff'),
         url('proxima_nova_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/Proxima-Nova-Semibold/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/Proxima-Nova-Semibold/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Semibold/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/Proxima-Nova-Semibold/proxima_nova_semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma/Tahoma.eot"); 
  src: url("../fonts/Tahoma/Tahoma.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Tahoma/Tahoma.ttf") format("truetype"), 
    url("../fonts/Tahoma/Tahoma.woff") format("woff"), 
    url("../fonts/Tahoma/Tahoma.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (max-width: 767px){
	a.logo{
		margin-left: 0px;
		margin-right: 0px;
		display: flex;
     	justify-content: center;
	}
	div.d_flex{
		
		display: block;
	}
	div.header_top{
		display: block;
	}
  div.header_top h1{
  	display: flex;
    justify-content: center;
    margin-top: 5px;
  } 
  span.start {
  	display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
  }
  div.posts_followers{
  	display: flex;
    justify-content: center;
  }
  div.datePickerXS{
  	justify-content: center;
  }
  div.img_info_xs{
  	top: 50%;
  }
}
@media(max-width: 991px){
	div.img_info_sm{
		top:50%;
	}
}
@media (min-width: 1200px){
   .container{
   	width: calc(935px + 30px);
   }
}
.header{
	padding: 15px 0 34px;
box-shadow: 0px 1px 50px -20px rgba(0, 0, 0,0.6);

}
.d_flex{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;}
.alitc{
	align-items: center}
.logo{
	display: inline-block;
	line-height: 0;
	margin-left: 70px;
	margin-right: 110px;
}
.main{
	padding-top: 70px;
	background:#fafafa;
}
.posts_followers{
	padding: 20px 0;
}
.posts_followers b{
	font-weight: bold;
	font-family: 'proxima_novabold';
	font-size: 17px;
}
.posts_followers>*:not(:last-child){
	margin-right: 30px;
}
.posFoll{
	font-family: 'proxima_novaregular';
	font-size: 17px;
}
.img_wrap{
	margin-top: -30px;
}
.img_wrap .row{
	margin-bottom: 44px
}
.img_opacity{
	position: relative;
	min-height: 292px;
	margin-top: 30px
}


.img_opacity:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 0.5); 
	width: 100%;
	height: 100%;
}
.header_top h1{
	font-size: 35px;
	font-family: "MyriadPro-Regular";
	color: #262626;
}
.start{
	font-size: 15px;
	font-family: "helveticaneueregular";
	color: #4090db;
	border: 1px solid #4090db;
	border-radius: 3px;
	padding: 8px;
	display: inline-block;
	margin-left:20px;
}
.header_top{
	display: flex;
	align-items: center;
}
.datePickerXS{
	display: flex;
	align-items: center;
}
.datePickerXS label{
	display: inline-block;
	margin-right: 14px;
	font-size: 17px;
	font-family: "Tahoma";
}
.day{
	color: #FFF;
	font-size: 17px;
	position: relative;
	display: block;
	width: 100px;
}
.heart_wr{
	width: 90px;
}
.message_wr{
	width: 70px;
}
.heart,
.message,
.triangle{
	position: relative;
	color: #FFF;
	padding-left: 25px;
	font-family: 'proxima_novabold';
	font-size: 17px;
	display: block;
}
.heart:before,
.message:before,
.triangle:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background: url(../images/sprite.png) 0 21px;
	width: 21px;
	height: 21px;	
}
.message:before{
	background-position: -28px -11px;
}
.triangle:before{
	background-position: -50px 21px;
}
.heart:hover,
.message:hover,
.triangle:hover{
	color: yellow;
	text-decoration: none;
}

.img_info{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
.img_info_md{
	top:70%;
}
.today_parent{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-family: 'proxima_novasemibold';
}
.load{
	display: inline-block;
	font-size: 12px;
	line-height: 1.2;
	font-family: 'proxima_novaregular';
	color: #000000;
	border: 1px solid #000000;
	border-radius: 15px;
	padding: 7px 26.5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease 0.5s;
}
.video{
	position: absolute;
    top: 7px;
    right: 6px;
    width: 32px;
    height: 25px;
    background: url(../images/sprite.png) -79px 27px;
}
.load:hover{
	background-color:#000;
	color:#fff; 
	text-decoration: none;
	transition: all ease 0.3s;
}

.upload{
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 5px;
	right: 5px;
	color: #fff;
	font-family: 'proxima_novabold';
	font-size: 17px;
}
.today_parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}
.today_parent:last-child{
	margin-top: 20px;

}
.form-group{
margin-bottom: 0;
}
.form-group:not(:last-child){
	margin-right: 24px;
}
.load_wr{
	text-align: center;
	padding-bottom: 75px;
}
.remove{
	background: url(../images/ic_close_black_24dp.png) no-repeat 8px 9px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #cccccc;
}
.calendar{
	background: url(../images/ic_date_range.png) no-repeat 7px 6px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0px;
    right:0px;
    border: 1px solid #cccccc;
}
.input-group-addon{
	position: relative;
	padding:6px 32px;
}