/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Tahoma";
  src: url("./fonts/Tahoma.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Tahoma.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Tahoma.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Tahoma.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Tahoma.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}